/* takePhoto.css */

.small-input {
    padding: 10px;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }

  .title{

    padding: 10px;
    margin-left: 0%;
  }

  .form-control.small-input {
    width: 50%; /* Adjust this value to make the input field smaller */
    /* Add other CSS properties as needed */
  }
  .flex-container {
    display: flex;
    align-items: center; /* This will vertically center align the items */
    gap: 10px; /* This will add a gap between the items */
  }
  